{# /templates/clients/index.twig #}

{% extends '_layout' %}

{# set clients = list of clients ordered by title #}
{% set clients = craft.categories.group('clients').orderBy('title').all() %}

{% block content %}

  {# page title #}
  <h1>Clients</h1>

  {# begin clients loop #}
  {% for client in clients %}
    <div><a href="{{ client.url }}">{{ client.title }}</a></div>
  {% endfor %}
  {# end clients loop #}

{% endblock %}
{# end content block #}
