{# TODO: ideabase logo at top of document #}

{# proposal heading #}
<h1>Proposal of Engagement</h1>

<div>
  <p>For: {{ entry.client.id|title }}</p>
  <p>To: {{ entry.to }}</p>
  <p>From: IdeaBase, a Research-Based Design Agency at Kent State University</p>
  <p>Date: {{ entry.date }}</p>
</div>
