{# /templates/proposals/index.twig #}

{% extends '\_layout' %}

{# set proposals = list of proposals ordered by date updated #}
{% set proposals = craft.entries.section('proposals').orderBy('entries.dateUpdated').all() %}

{% block content %}

  {# page title #}
  <h1>Proposals</h1>

  {# begin proposals loop #}
  {% for proposal in proposals %}
    <div><a href="{{ proposal.url }}">{{ proposal.title }}</a></div>
  {% endfor %}
  {# end proposals loop#}

{% endblock %}
{# end content block #}
